<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Practica4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
    <param-name>cantidadTotal</param-name>
    <param-value>3</param-value>
  </context-param>
  <context-param>
    <param-name>golo1</param-name>
    <param-value>chupetin</param-value>
  </context-param>
  <context-param>
    <param-name>pu1</param-name>
    <param-value>2</param-value>
  </context-param>
  <context-param>
    <param-name>golo2</param-name>
    <param-value>chocolate</param-value>
  </context-param>
  <context-param>
    <param-name>pu2</param-name>
    <param-value>3</param-value>
  </context-param>
  <context-param>
    <param-name>golo3</param-name>
    <param-value>alfajor</param-value>
  </context-param>
  <context-param>
    <param-name>pu3</param-name>
    <param-value>4</param-value>
  </context-param>
  
</web-app>